html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 40px 0 0 0;  /** ヘッダの分上に40pxの余白をつくる **/
}

/** キモはこのクラス **/
.header-panel {
    position: fixed;
      z-index: 1000;
    top: -50px;
    left: 133;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 36px;
}

/** ハンバーガーやタイトルを下寄せに **/
.header-container {
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 0;
}

.hamburger {
    position: fixed;
    left: -15px; /** ハンバーガーを半分にするための設定 **/
}

.title {
    float: left;
    margin-left: 120px;
    margin-top: 80px;
    background: rgb(255, 255, 255);
}

.content {
    width: 100%;
    min-height: 100%;
}

.menu-panel, .main, .swipe, .fade-layer {
      top: 0;
    float: left;
    min-height: 100%;
}

.menu-panel {
    position: fixed;  /** メニューは動作を独立させたいのでfixed指定 **/
    top:-7px;
    width: 130px;
      z-index: 500;
      left: -7px;
      bottom: -7;
    background: rgb(255, 255, 255);
    border: solid 3px #000000;
}

.menu-panel a {
    padding: 1em;
    display: block;
      font-size: 1.1em;
      font-weight: 300;
    padding-top: 1em;
}

.bottom-menu {
    padding: 1em;
    display: block;
      font-size: 1.1em;
      font-weight: 300;
    padding-top: 1em;
    bottom: 0;
}

.main {
    display: grid;
    grid-template-rows: 1000px ;
    grid-template-columns: 1200px;
    margin-top: 200px;
    margin-left: 200px;
}

.timecard-head{
    background: #999999;
}

.day_table {
    width:300px;
    background: #ffffff;
    
}

.day_table2 {
    width:300px;
    background: #dddddd;
    
}

#st_table {
    width:400px
}

#end_table {
    width:400px
}

#comment_table {
    width:200px
}

.under_line {
    position: fixed;
    margin-top: 50px;
    margin-left: 200px;
    background: rgb(255, 255, 255);
}

.select{
    height:30px; 
    width:100px;
}

.botton_area{
    width: 100px;
    height: 30px;
    left: 800px;
}